.banner {
    background-color: rgb(86, 122, 86);
    color: white;
    font-style: bold;
    text-align: center;
    padding: 10px; /* makes box bigger */
}

.navbar {
    /* background-color: white; */
    padding: 20px;
    display: flex;
}

.navlink {
    color: rgb(86, 122, 86);
    text-decoration-line: none;
    margin: 10px; /* makes box bigger without making the clickable part bigger */
}